* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Universal Styles */
body {
    padding: 0 24px;
    font-family: 'Noto Sans JP', sans-serif;
    z-index: 1;
}

/* Header Styling */
.header nav {
    display: flex;
    flex-wrap: wrap;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    padding-right: 48px;
}
@media only screen and (min-width: 426px) {
.header .desktop-logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-height: 32px;
    flex-shrink: 1; 
}
.desktop-logo img {
    max-height: 32px;
}
.header .navpane {
    display: flex;
    list-style: none;
}
.header .navpane li:hover {
    color:darkgreen;
}
.navpane li {
    margin: 0 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    transition: color 250ms ease-in 0;
    cursor: pointer;
}
#Colmar {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    color: #464646;
    font-size: 20px;
}
#Academy {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: darkgray;
    font-size: 20px;
}
.mobile-logo, .on-campus, .online, .sign-in {
    display: none;
}
}
@media only screen and (max-width: 425px) {
.desktop-logo, .navpane {
    display: none;
}
}

/* Section 1 */
.section1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 64px;
    background-color: lightgrey;
}

@media only screen and (min-width: 426px) {
.banner-img {
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: 32px 24px;
}
.banner-txt {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}
}
@media only screen and (max-width: 425px) {
    .banner-img {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 32px 24px;
    }
    .banner-txt {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 16px;
    }
    }
.banner-img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.banner-txt h1 {
    margin-bottom: 32px;
    color: #464646;
    font-size: 45px;
    font-weight: 800;
}
.banner-txt h2 {
    margin-bottom: 32px;
    color: #464646;
    font-size: 25px;
    font-weight: 500;
}
.start-button {
    background-color: #464646;
    width: 90%;
    display: flex;
    justify-content: center;
    animation: pop 0.3s linear 1;
    border-radius: 10px;
    transition: background-color 450ms linear 90ms;
    cursor: pointer;
    margin-bottom: 32px;
}
.start-button:hover {
    background-color: darkgreen;
}

 .start-button span {
     color: white;
     padding: 8px 0;
     font-size: 25px;
 }

 /* Section 2 */
 @media only screen and (min-width: 426px) {
    .section2 {
        display: flex;
        justify-content: flex-start;
    }
    .main-left {
        width: 60%;
        padding-right: 24px;
        padding-top: 32px;
    }
    .main-left .img-container {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0px 24px 32px 0px;
    }
    .img-container img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .main-left .main-left-txt {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-left-txt h1 {
        margin-bottom: 24px;
        color: #464646;
        font-size: 45px;
        font-weight: 800;
    }
    .main-left-txt h4 {
        margin-bottom: 32px;
        color: #464646;
        font-size: 20px;
        font-weight: 250;
        font-style: italic;
    }
    .main-left-txt span {
        margin-bottom: 32px;
        color: #464646;
        font-family: Arial, Helvetica, sans-serif
    }
    .main-right {
        width: 40%;
        margin-top: 16px;
    }
    .right-tile-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex: wrap;
        justify-content: space-between;
        margin-top: 0px;
        transition: background-color 250ms ease-in 0;
    }
    .right-tile-1:hover {
        background-color: lightgrey;
    }
    .right-tile-1 .rt-img {
        width: 35%;
        height: auto;
        overflow: hidden;
        margin: 16px;
    }
    .rt-img .mobile-ort {
        display: none;
    }
    .rt-img .desktop-ort {
        width: 100%;
        height: auto;
        display: block;
    }
    .right-tile-1 .rt-txt {
        width: 65%;
        padding: 16px;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: center;
    }
    
    #readmore:hover {
        font-weight: 500;
    }
    .right-tile {
        width: 100%;
        height: auto;
        display: flex;
        flex: wrap;
        justify-content: space-between;
        margin-top: 16px;
        transition: background-color 250ms ease-in 0;
    }
    .right-tile:hover {
        background-color: lightgrey;
    }
    .right-tile .rt-img {
        width: 35%;
        height: auto;
        overflow: hidden;
        margin: 16px;
    }
    .right-tile .rt-txt {
        width: 65%;
        padding: 16px;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: center;
    }
 }

 /* Section 2 mobile rules */
 
 @media only screen and (max-width: 425px) {
    .main-left {
         display: none;
     }
    .main-right {
         width: 100%;
         margin-top: 64px;
         margin-bottom: 64px;
     }
    .desktop-ort {
        display: none;
    }
    .rt-img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .rt-img .mobile-ort {
        width: 100%;
        height: auto;
        display: block;
    }
    .right-tile-1 .rt-txt {
        width: 100%;
        padding: 16px 0px;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .right-tile .rt-txt {
        width: 100%;
        padding: 16px 0px;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: center;
    }
}

/*Section 2 universal rules */
.rt-txt .rt-txt-header {
    font-size: 24px;
    color: #464646;
    font-weight: 700;
    margin-bottom: 8px;
}
.rt-txt .rt-txt-info {
    font-size: 20px;
    color: #464646;
    font-weight: 250;
    margin-bottom: 8px;
}
#readmore {
    font-size: 20px;
    color: blue;
    font-weight: 250;
    cursor: pointer;
    transition: font-weight 250ms ease-in 0;
}

/* Section 3 */
@media only screen and (min-width: 426px) {
    .section3 {
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section3 .headerbox {
        width: 100%;
        margin: 32px auto;
        display: flex;
        justify-content: center;
    }
    
    .main-box {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 72px; 
        justify-content: space-around;
    }
    .coursebox {
        width: 30%;
        margin-bottom: 32px;
        overflow: hidden;
    }
    .coursebox .coursebox-img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .coursebox-img img {
        width: 100%;
        height: auto;
        display: block;
    }
    .coursebox-txt {
        background-color: white;
        padding-top: 16px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 55%;
        }
    .coursebox-txt h2 {
        font-size: 1.5em;
        color: #464646;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .coursebox-txt h3 {
        font-size: 1.25em;
        color: #464646;
        font-weight: 250;
        margin-bottom: 8px;
    }
}

/*  Universal Rules */
.headerbox h1 {
    color: #464646;
    font-size: 45px;
    font-weight: 800;
}

/* Section 3 mobile rules */
@media only screen and (max-width: 425px) {
    .section3 {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: thin solid lightgrey;
        border-bottom: thin solid lightgrey;
    }
    .section3 .headerbox {
        width: 100%;
        margin-top: 32px;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
    }
    .coursebox-img {
        display: none;
    }
    .coursebox-txt h3 {
        display: none;
    }
    .coursebox-txt {
        background-color: lightgrey;
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
        border-radius: 10px;
    }
    .coursebox-txt h2 {
        font-size: 1.5em;
        color: #464646;
        font-weight: 700;
    }
}

/* Section 4 */
.section4 .headerbox {
    width: 100%;
    margin: 32px auto;
    display: flex;
    justify-content: center;
}
.exhibit-sec {
    display: flex;
    justify-content: flex-start;
}
.img-container video {
    max-width: 100%;
    height: auto;
    display: block;
}
.exhibit-sec .main-left {
    padding-top: 0px;
}
.exhibit-sec .main-right {
    margin-top: 0px;
}